<!DOCTYPE >
<html>
  <head>
    <title>Grades</title>
    <link th:href="@{/grades-styles.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="topnav">
      <a>Form</a>
      <a>Grades</a>
    </div>

    <div class="container">
      <h2>Grades</h2>
      <table id="table">
        <tr>
          <th>Student</th>
          <th>Subject</th>
          <th>Score</th>
        </tr>
        <tr th:object="${grade}">
          <th th:text="*{name}"></th>
          <th th:text="*{subject}"></th>
          <th th:text="*{score}"></th>
        </tr>
      </table>
    </div>
  </body>
</html>
